html {
    background-color: white;
    }

h1 {
    font-size: 45px;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    position: fixed;
}

div:nth-child(3) {
    background-color: gold;
    position: sticky;
    left: 300px;
    top: 30px;
    width: 800px;
}


/*Every one but the first one. */
divfirst-child{
    margin-top: 40px;
}

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
body {
    background-color: #ffffff;
    color: #555;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
}
.note{
  width: 600px;
  margin: 20px auto 0;
}

.circle{   
  background-color: #c0392b;
  color: white;
  width: 500px; 
  height: 500px;
  margin: 30px auto;
  text-align:center;
  border-radius: 50%;
  transition: all 3s ease;
  /* new function syntax for webkit browsers */
  shape-outside: circle(210px at 250px 250px);
   
  /* old function syntax in Blink */
   shape-outside: circle(250px, 250px, 210px);
  
  shape-outside: 15px;
} 

.circle:hover .text-overlay1 {
  opacity: 1;
  transform: translateY(0);
}

.text-overlay1{
      position: absolute;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s, transform 0.3s;
      padding-top: 230px;
      width: 500px;
    }


    .circle:hover .text-overlay2 {
      opacity: 1;
      transform: translateY(0);
    }
    
    .text-overlay2{
          position: absolute;
          color: #fff;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          opacity: 0;
          transition: opacity 0.3s, transform 0.3s;
          padding-top: 10px;
          width: 500px;
          height: 500px;
          overflow:hidden;
        }

        .circle:hover .text-overlay3 {
          opacity: 1;
          transform: translateY(0);
        }
        
        .text-overlay3{
              position: absolute;
              color: #fff;
              font-size: 16px;
              font-weight: bold;
              text-align: center;
              opacity: 0;
              transition: opacity 0.3s, transform 0.3s;
              padding-top: px;
              width: 500px;
              height: 500px;
              overflow: hidden;
            }


            .circle:hover .text-overlay4 {
              opacity: 1;
              transform: translateY(0);
            }
            
            .text-overlay4{
                  position: absolute;
                  color: #fff;
                  font-size: 16px;
                  font-weight: bold;
                  text-align: center;
                  opacity: 0;
                  transition: opacity 0.3s, transform 0.3s;
                  padding-top: 230px;
                  width: 500px;
                }

                .circle:hover .text-overlay5 {
                  opacity: 1;
                  transform: translateY(0);
                }
                
                .text-overlay5{
                      position: absolute;
                      color: #fff;
                      font-size: 16px;
                      font-weight: bold;
                      text-align: center;
                      opacity: 0;
                      transition: opacity 0.3s, transform 0.3s;
                      padding-top: 230px;
                      width: 500px;
                    }

                    .circle:hover .text-overlay6 {
                      opacity: 1;
                      transform: translateY(0);
                    }
                    
                    .text-overlay6{
                          position: absolute;
                          color: #fff;
                          font-size: 16px;
                          font-weight: bold;
                          text-align: center;
                          opacity: 0;
                          transition: opacity 0.3s, transform 0.3s;
                          padding-top: 230px;
                          width: 500px;
                        }


                        .circle:hover .text-overlay7 {
                          opacity: 1;
                          transform: translateY(0);
                        }
                        
                        .text-overlay7{
                              position: absolute;
                              color: #fff;
                              font-size: 16px;
                              font-weight: bold;
                              text-align: center;
                              opacity: 0;
                              transition: opacity 0.3s, transform 0.3s;
                              padding-top: px;
                              width: 500px;
                              overflow:hidden;
                              height: 500px;
                            }

                            .circle:hover .text-overlay8 {
                              opacity: 1;
                              transform: translateY(0);
                            }
                            
                            .text-overlay8{
                                  position: absolute;
                                  color: #fff;
                                  font-size: 16px;
                                  font-weight: bold;
                                  text-align: center;
                                  opacity: 0;
                                  transition: opacity 0.3s, transform 0.3s;
                                  padding-top: 0px;
                                  width: 500px;
                                  overflow: 500px;
                                }

                                .circle:hover .text-overlay9 {
                                  opacity: 1;
                                  transform: translateY(0);
                                }
                                
                                .text-overlay9{
                                      position: absolute;
                                      color: #fff;
                                      font-size: 16px;
                                      font-weight: bold;
                                      text-align: center;
                                      opacity: 0;
                                      transition: opacity 0.3s, transform 0.3s;
                                      padding-top: 140px;
                                      width: 500px;
                                    }

                                    .circle:hover .text-overlay10 {
                                      opacity: 1;
                                      transform: translateY(0);
                                    }
                                    
                                    .text-overlay10{
                                          position: absolute;
                                          color: #fff;
                                          font-size: 16px;
                                          font-weight: bold;
                                          text-align: center;
                                          opacity: 0;
                                          transition: opacity 0.3s, transform 0.3s;
                                          padding-top: 160px;
                                          width: 500px;
                                        }

                                        .circle:hover .text-overlay11 {
                                          opacity: 1;
                                          transform: translateY(0);
                                        }
                                        
                                        .text-overlay11{
                                              position: absolute;
                                              color: #fff;
                                              font-size: 16px;
                                              font-weight: bold;
                                              text-align: center;
                                              opacity: 0;
                                              transition: opacity 0.3s, transform 0.3s;
                                              padding-top: 120px;
                                              width: 500px;
                                            }

                                            .circle:hover .text-overlay12 {
                                              opacity: 1;
                                              transform: translateY(0);
                                            }
                                            
                                            .text-overlay12{
                                                  position: absolute;
                                                  color: #fff;
                                                  font-size: 16px;
                                                  font-weight: bold;
                                                  text-align: center;
                                                  opacity: 0;
                                                  transition: opacity 0.3s, transform 0.3s;
                                                  padding-top: 100px;
                                                  width: 500px;
                                                }
p{
    color:black;
}



       
        h1 {
            text-align: center;
            color: black;
            font-family: 'Gordita';
            font-size: 4rem;
            margin-top: 40vh;
        }
       
        p {
            text-align: center;
            color: white;
            font-family: 'Helvetica Neue', sans-serif;
            font-size: 2rem;
        }

