* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111;
}

.wrapper {
    text-align: center;
    padding: 30px 0; /* Adjust the padding as needed */
}

.canvas {
    width: 100%;
    height: auto; /* Allow the canvas to scale proportionally */
}

.text {
    display: inline;
    padding: 20px;
    font-family: arial;
    font-size: 3vw; /* Responsive font size based on the viewport width */
    color: #ffffff;
    line-height: 1.2;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        max-width: 600px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        max-width: 1000px;
    }

    .text {
        font-size: 40px; /* Adjust the font size for larger screens */
    }
}
