html {
    background-color: rgb(118, 106, 94)
    }

h1 {
    font-size: 45px;
    line-height: 50px;
    color: rgb(247, 235, 212);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

p{
    color:aqua;
}
  
.circle{
    shape-outside: circle(50%);
    width: 200px;
    height: 200px;
    float: left;
}

.stain {
    position: fixed;
    width: 50px;
    height: 50px;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
  }


/* sadsadsa */

/* CATEGORY SECTION*/

.index-category{
    width: 100%;
    padding: 100px;
    margin: 60px;
    max-width: 800px; 
    background-color: rgb(235, 227, 222);
    display: flex;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
    align-content: center;
}

.index-category p {
    color: #111;
    text-align: center;
    padding-bottom: 40px;
    flex-basis: 100%;
    text-transform: uppercase;
    font-size: 28px;
}

.index-category-box {
    width: 2000px;
    height: 2500px;
    padding: 60px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100;
}

.index-category-box:nth-child(1) {
    background-image: url();
}

.dark-overlay {
    position: absolute;
    top: 500;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    transition: all ease-in-out 200;
}

.index-category-box:hover .dark-overlay {
    opacity: 0;
}

.index-category-box h3 {
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    text-shadow: 0px -4px 0px black;
    z-index: 100;
}

h3{
    color:rgb(0, 0, 0);
    letter-spacing: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    height: 2000px; /* Adjust the body height to simulate scrolling */
    width: 2000px;
  }

  .coffee-stain {
    position: fixed;
    width: 100px; /* Adjust the width of the coffee stain */
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  #stain1 {
    top: 20px;
    left: 5px;
    width: 500px;
  }

  #stain2 {
    top: 120px;
    left: 50px;
  }

  #stain3 {
    top: 200px;
    left: 100px;
  }

  #stain4 {
    top: 200px;
   right: 100px;
  }

  #stain5 {
    top: 200px;
    right: 100px;
  }

  #stain6 {
    top: 200px;
    right: 100px;
  }